<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />
    <title>Rawbot</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container-fluid">
        <form class="lower center col-md-4">
            <div class="form-group">
                <label for="rawbot_amount_trade">Rawbot amount</label>
                <input type="text" class="form-control" id="rawbot_amount_trade" placeholder="Enter the amount of Rawbot to buy or exchange">
            </div>
            <div class="form-group" id="bittrex_ethereum_price_div">
                <p>
                    Bittrex Ethereum price: $<span id="bittrex_ethereum_price"></span>
                </p>
            </div>
            <button type="button" class="btn btn-primary" id="rawbot_button_buy">Buy</button>
            <p class="lower" id="tx_hash_addDevice"></p>
        </form>
        <table class="table table-bordered table-hover table-stats custom_background lower center col-md-8">
            <thead>
                <tr>

                    <th scope="col">ETH price</th>
                    <th scope="col">Input</th>
                    <th scope="col">Output</th>
                    <th scope="col">Time</th>
                    <th scope="col">Block</th>
                </tr>
            </thead>
            <tbody id="transaction_rawbot_history">
            </tbody>
        </table>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>