<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico"/>
    <title>Rawbot</title>
</head>

<body>
<%- include('./partials/navbar.ejs') %>
<div class="container">
    <table class="table table-bordered table-hover table-stats custom_background lower">
        <thead>
        <tr>
            <th scope="col">Address</th>
            <th scope="col">Serial number</th>
            <th scope="col">Name</th>
            <th scope="col">Country</th>
            <th scope="col">City</th>
            <th scope="col">Distance (Km)</th>
            <th scope="col">Information</th>
            <th scope="col">Actions</th>
        </tr>

        </thead>
        <tbody id="device_manager_content">
        </tbody>
    </table>
</div>
<%- include('./partials/footer.ejs') %>
</body>

</html>